best_model_not_transformed_resnet_freez
efficient_net_non_transformed/efficientnetmodel.h5
resnet_freeze_rotated/old_model
resnet_freeze_rotated/resnet_transform.h5
rotated_resnet_full/resnet_transformed.h5
saved_model_non_rotated_resnet_full
SVM/autoencoder_saved weights/autoencoder_embedding_test
SVM/autoencoder_saved weights/autoencoder_embedding_train
SVM/autoencoder_transformed_saved_model/autoencoder_embedding_test
SVM/autoencoder_transformed_saved_model/autoencoder_embedding_train
vgg_full_non_rotated/resnet_transformed.h5
vgg_full_non_rotated/vgg16_1.h5
vgg_full_rotated/vgg16_transforms.h5
snake_project.pdf
